body, .p1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: black; color: white;}
.h1 {font-family: sans-serif; background-color:yellow; color: black; text-align: center; }
.p1 {font-size: small;}
.a1 {color: blanchedalmond;}
.b1 {background-color: black; color: white; border: white; size: 2px;}
.f1 {font-family: sans-serif;}